.icon {background: url(../../../img/csg-528d47295181d.png) no-repeat top left;width: 16px; height: 16px; position:relative;top:1px;display:inline-block; }

.icon-accept{ background-position: 0 0; } 
.icon-add{ background-position: 0 -66px;} 
.icon-anchor{ background-position: 0 -132px;} 
.icon-application{ background-position: 0 -198px;} 
.icon-application_add{ background-position: 0 -264px;} 
.icon-application_cascade{ background-position: 0 -330px;} 
.icon-application_delete{ background-position: 0 -396px;} 
.icon-application_double{ background-position: 0 -462px;} 
.icon-application_edit{ background-position: 0 -528px;} 
.icon-application_error{ background-position: 0 -594px;} 
.icon-application_form{ background-position: 0 -660px;} 
.icon-application_form_add{ background-position: 0 -726px;} 
.icon-application_form_delete{ background-position: 0 -792px;} 
.icon-application_form_edit{ background-position: 0 -858px;} 
.icon-application_form_magnify{ background-position: 0 -924px;} 
.icon-application_get{ background-position: 0 -990px;} 
.icon-application_go{ background-position: 0 -1056px;} 
.icon-application_home{ background-position: 0 -1122px;} 
.icon-application_key{ background-position: 0 -1188px;} 
.icon-application_lightning{ background-position: 0 -1254px;} 
.icon-application_link{ background-position: 0 -1320px;} 
.icon-application_osx{ background-position: 0 -1386px;} 
.icon-application_osx_terminal{ background-position: 0 -1452px;} 
.icon-application_put{ background-position: 0 -1518px;} 
.icon-application_side_boxes{ background-position: 0 -1584px;} 
.icon-application_side_contract{ background-position: 0 -1650px;} 
.icon-application_side_expand{ background-position: 0 -1716px;} 
.icon-application_side_list{ background-position: 0 -1782px;} 
.icon-application_side_tree{ background-position: 0 -1848px;} 
.icon-application_split{ background-position: 0 -1914px;} 
.icon-application_tile_horizontal{ background-position: -66px 0;} 
.icon-application_tile_vertical{ background-position: -66px -66px;} 
.icon-application_view_columns{ background-position: -66px -132px;} 
.icon-application_view_detail{ background-position: -66px -198px;} 
.icon-application_view_gallery{ background-position: -66px -264px;} 
.icon-application_view_icons{ background-position: -66px -330px;} 
.icon-application_view_list{ background-position: -66px -396px;} 
.icon-application_view_tile{ background-position: -66px -462px;} 
.icon-application_xp{ background-position: -66px -528px;} 
.icon-application_xp_terminal{ background-position: -66px -594px;} 
.icon-arrow_branch{ background-position: -66px -660px;} 
.icon-arrow_divide{ background-position: -66px -726px;} 
.icon-arrow_down{ background-position: -66px -792px;} 
.icon-arrow_in{ background-position: -66px -858px;} 
.icon-arrow_inout{ background-position: -66px -924px;} 
.icon-arrow_join{ background-position: -66px -990px;} 
.icon-arrow_left{ background-position: -66px -1056px;} 
.icon-arrow_merge{ background-position: -66px -1122px;} 
.icon-arrow_out{ background-position: -66px -1188px;} 
.icon-arrow_redo{ background-position: -66px -1254px;} 
.icon-arrow_refresh{ background-position: -66px -1320px;} 
.icon-arrow_refresh_small{ background-position: -66px -1386px;} 
.icon-arrow_right{ background-position: -66px -1452px;} 
.icon-arrow_rotate_anticlockwise{ background-position: -66px -1518px;} 
.icon-arrow_rotate_clockwise{ background-position: -66px -1584px;} 
.icon-arrow_switch{ background-position: -66px -1650px;} 
.icon-arrow_turn_left{ background-position: -66px -1716px;} 
.icon-arrow_turn_right{ background-position: -66px -1782px;} 
.icon-arrow_undo{ background-position: -66px -1848px;} 
.icon-arrow_up{ background-position: -66px -1914px;} 
.icon-asterisk_orange{ background-position: -132px 0;} 
.icon-asterisk_yellow{ background-position: -132px -66px;} 
.icon-attach{ background-position: -132px -132px;} 
.icon-award_star_add{ background-position: -132px -198px;} 
.icon-award_star_bronze_1{ background-position: -132px -264px;} 
.icon-award_star_bronze_2{ background-position: -132px -330px;} 
.icon-award_star_bronze_3{ background-position: -132px -396px;} 
.icon-award_star_delete{ background-position: -132px -462px;} 
.icon-award_star_gold_1{ background-position: -132px -528px;} 
.icon-award_star_gold_2{ background-position: -132px -594px;} 
.icon-award_star_gold_3{ background-position: -132px -660px;} 
.icon-award_star_silver_1{ background-position: -132px -726px;} 
.icon-award_star_silver_2{ background-position: -132px -792px;} 
.icon-award_star_silver_3{ background-position: -132px -858px;} 
.icon-basket{ background-position: -132px -924px;} 
.icon-basket_add{ background-position: -132px -990px;} 
.icon-basket_delete{ background-position: -132px -1056px;} 
.icon-basket_edit{ background-position: -132px -1122px;} 
.icon-basket_error{ background-position: -132px -1188px;} 
.icon-basket_go{ background-position: -132px -1254px;} 
.icon-basket_put{ background-position: -132px -1320px;} 
.icon-basket_remove{ background-position: -132px -1386px;} 
.icon-bell{ background-position: -132px -1452px;} 
.icon-bell_add{ background-position: -132px -1518px;} 
.icon-bell_delete{ background-position: -132px -1584px;} 
.icon-bell_error{ background-position: -132px -1650px;} 
.icon-bell_go{ background-position: -132px -1716px;} 
.icon-bell_link{ background-position: -132px -1782px;} 
.icon-bin{ background-position: -132px -1848px;} 
.icon-bin_closed{ background-position: -132px -1914px;} 
.icon-bin_empty{ background-position: -198px 0;} 
.icon-bomb{ background-position: -198px -66px;} 
.icon-book{ background-position: -198px -132px;} 
.icon-book_add{ background-position: -198px -198px;} 
.icon-book_addresses{ background-position: -198px -264px;} 
.icon-book_delete{ background-position: -198px -330px;} 
.icon-book_edit{ background-position: -198px -396px;} 
.icon-book_error{ background-position: -198px -462px;} 
.icon-book_go{ background-position: -198px -528px;} 
.icon-book_key{ background-position: -198px -594px;} 
.icon-book_link{ background-position: -198px -660px;} 
.icon-book_next{ background-position: -198px -726px;} 
.icon-book_open{ background-position: -198px -792px;} 
.icon-book_previous{ background-position: -198px -858px;} 
.icon-box{ background-position: -198px -924px;} 
.icon-brick{ background-position: -198px -990px;} 
.icon-brick_add{ background-position: -198px -1056px;} 
.icon-brick_delete{ background-position: -198px -1122px;} 
.icon-brick_edit{ background-position: -198px -1188px;} 
.icon-brick_error{ background-position: -198px -1254px;} 
.icon-brick_go{ background-position: -198px -1320px;} 
.icon-brick_link{ background-position: -198px -1386px;} 
.icon-bricks{ background-position: -198px -1452px;} 
.icon-briefcase{ background-position: -198px -1518px;} 
.icon-bug{ background-position: -198px -1584px;} 
.icon-bug_add{ background-position: -198px -1650px;} 
.icon-bug_delete{ background-position: -198px -1716px;} 
.icon-bug_edit{ background-position: -198px -1782px;} 
.icon-bug_error{ background-position: -198px -1848px;} 
.icon-bug_go{ background-position: -198px -1914px;} 
.icon-bug_link{ background-position: -264px 0;} 
.icon-building{ background-position: -264px -66px;} 
.icon-building_add{ background-position: -264px -132px;} 
.icon-building_delete{ background-position: -264px -198px;} 
.icon-building_edit{ background-position: -264px -264px;} 
.icon-building_error{ background-position: -264px -330px;} 
.icon-building_go{ background-position: -264px -396px;} 
.icon-building_key{ background-position: -264px -462px;} 
.icon-building_link{ background-position: -264px -528px;} 
.icon-bullet_add{ background-position: -264px -594px;} 
.icon-bullet_arrow_bottom{ background-position: -264px -660px;} 
.icon-bullet_arrow_down{ background-position: -264px -726px;} 
.icon-bullet_arrow_top{ background-position: -264px -792px;} 
.icon-bullet_arrow_up{ background-position: -264px -858px;} 
.icon-bullet_black{ background-position: -264px -924px;} 
.icon-bullet_blue{ background-position: -264px -990px;} 
.icon-bullet_delete{ background-position: -264px -1056px;} 
.icon-bullet_disk{ background-position: -264px -1122px;} 
.icon-bullet_error{ background-position: -264px -1188px;} 
.icon-bullet_feed{ background-position: -264px -1254px;} 
.icon-bullet_go{ background-position: -264px -1320px;} 
.icon-bullet_green{ background-position: -264px -1386px;} 
.icon-bullet_key{ background-position: -264px -1452px;} 
.icon-bullet_orange{ background-position: -264px -1518px;} 
.icon-bullet_picture{ background-position: -264px -1584px;} 
.icon-bullet_pink{ background-position: -264px -1650px;} 
.icon-bullet_purple{ background-position: -264px -1716px;} 
.icon-bullet_red{ background-position: -264px -1782px;} 
.icon-bullet_star{ background-position: -264px -1848px;} 
.icon-bullet_toggle_minus{ background-position: -264px -1914px;} 
.icon-bullet_toggle_plus{ background-position: -330px 0;} 
.icon-bullet_white{ background-position: -330px -66px;} 
.icon-bullet_wrench{ background-position: -330px -132px;} 
.icon-bullet_yellow{ background-position: -330px -198px;} 
.icon-cake{ background-position: -330px -264px;} 
.icon-calculator{ background-position: -330px -330px;} 
.icon-calculator_add{ background-position: -330px -396px;} 
.icon-calculator_delete{ background-position: -330px -462px;} 
.icon-calculator_edit{ background-position: -330px -528px;} 
.icon-calculator_error{ background-position: -330px -594px;} 
.icon-calculator_link{ background-position: -330px -660px;} 
.icon-calendar{ background-position: -330px -726px;} 
.icon-calendar_add{ background-position: -330px -792px;} 
.icon-calendar_delete{ background-position: -330px -858px;} 
.icon-calendar_edit{ background-position: -330px -924px;} 
.icon-calendar_link{ background-position: -330px -990px;} 
.icon-calendar_view_day{ background-position: -330px -1056px;} 
.icon-calendar_view_month{ background-position: -330px -1122px;} 
.icon-calendar_view_week{ background-position: -330px -1188px;} 
.icon-camera{ background-position: -330px -1254px;} 
.icon-camera_add{ background-position: -330px -1320px;} 
.icon-camera_delete{ background-position: -330px -1386px;} 
.icon-camera_edit{ background-position: -330px -1452px;} 
.icon-camera_error{ background-position: -330px -1518px;} 
.icon-camera_go{ background-position: -330px -1584px;} 
.icon-camera_link{ background-position: -330px -1650px;} 
.icon-camera_small{ background-position: -330px -1716px;} 
.icon-cancel{ background-position: -330px -1782px;} 
.icon-car{ background-position: -330px -1848px;} 
.icon-car_add{ background-position: -330px -1914px;} 
.icon-car_delete{ background-position: -396px 0;} 
.icon-cart{ background-position: -396px -66px;} 
.icon-cart_add{ background-position: -396px -132px;} 
.icon-cart_delete{ background-position: -396px -198px;} 
.icon-cart_edit{ background-position: -396px -264px;} 
.icon-cart_error{ background-position: -396px -330px;} 
.icon-cart_go{ background-position: -396px -396px;} 
.icon-cart_put{ background-position: -396px -462px;} 
.icon-cart_remove{ background-position: -396px -528px;} 
.icon-cd{ background-position: -396px -594px;} 
.icon-cd_add{ background-position: -396px -660px;} 
.icon-cd_burn{ background-position: -396px -726px;} 
.icon-cd_delete{ background-position: -396px -792px;} 
.icon-cd_edit{ background-position: -396px -858px;} 
.icon-cd_eject{ background-position: -396px -924px;} 
.icon-cd_go{ background-position: -396px -990px;} 
.icon-chart_bar{ background-position: -396px -1056px;} 
.icon-chart_bar_add{ background-position: -396px -1122px;} 
.icon-chart_bar_delete{ background-position: -396px -1188px;} 
.icon-chart_bar_edit{ background-position: -396px -1254px;} 
.icon-chart_bar_error{ background-position: -396px -1320px;} 
.icon-chart_bar_link{ background-position: -396px -1386px;} 
.icon-chart_curve{ background-position: -396px -1452px;} 
.icon-chart_curve_add{ background-position: -396px -1518px;} 
.icon-chart_curve_delete{ background-position: -396px -1584px;} 
.icon-chart_curve_edit{ background-position: -396px -1650px;} 
.icon-chart_curve_error{ background-position: -396px -1716px;} 
.icon-chart_curve_go{ background-position: -396px -1782px;} 
.icon-chart_curve_link{ background-position: -396px -1848px;} 
.icon-chart_line{ background-position: -396px -1914px;} 
.icon-chart_line_add{ background-position: -462px 0;} 
.icon-chart_line_delete{ background-position: -462px -66px;} 
.icon-chart_line_edit{ background-position: -462px -132px;} 
.icon-chart_line_error{ background-position: -462px -198px;} 
.icon-chart_line_link{ background-position: -462px -264px;} 
.icon-chart_organisation{ background-position: -462px -330px;} 
.icon-chart_organisation_add{ background-position: -462px -396px;} 
.icon-chart_organisation_delete{ background-position: -462px -462px;} 
.icon-chart_pie{ background-position: -462px -528px;} 
.icon-chart_pie_add{ background-position: -462px -594px;} 
.icon-chart_pie_delete{ background-position: -462px -660px;} 
.icon-chart_pie_edit{ background-position: -462px -726px;} 
.icon-chart_pie_error{ background-position: -462px -792px;} 
.icon-chart_pie_link{ background-position: -462px -858px;} 
.icon-clock{ background-position: -462px -924px;} 
.icon-clock_add{ background-position: -462px -990px;} 
.icon-clock_delete{ background-position: -462px -1056px;} 
.icon-clock_edit{ background-position: -462px -1122px;} 
.icon-clock_error{ background-position: -462px -1188px;} 
.icon-clock_go{ background-position: -462px -1254px;} 
.icon-clock_link{ background-position: -462px -1320px;} 
.icon-clock_pause{ background-position: -462px -1386px;} 
.icon-clock_play{ background-position: -462px -1452px;} 
.icon-clock_red{ background-position: -462px -1518px;} 
.icon-clock_stop{ background-position: -462px -1584px;} 
.icon-cog{ background-position: -462px -1650px;} 
.icon-cog_add{ background-position: -462px -1716px;} 
.icon-cog_delete{ background-position: -462px -1782px;} 
.icon-cog_edit{ background-position: -462px -1848px;} 
.icon-cog_error{ background-position: -462px -1914px;} 
.icon-cog_go{ background-position: -528px 0;} 
.icon-coins{ background-position: -528px -66px;} 
.icon-coins_add{ background-position: -528px -132px;} 
.icon-coins_delete{ background-position: -528px -198px;} 
.icon-color_swatch{ background-position: -528px -264px;} 
.icon-color_wheel{ background-position: -528px -330px;} 
.icon-comment{ background-position: -528px -396px;} 
.icon-comment_add{ background-position: -528px -462px;} 
.icon-comment_delete{ background-position: -528px -528px;} 
.icon-comment_edit{ background-position: -528px -594px;} 
.icon-comments{ background-position: -528px -660px;} 
.icon-comments_add{ background-position: -528px -726px;} 
.icon-comments_delete{ background-position: -528px -792px;} 
.icon-compress{ background-position: -528px -858px;} 
.icon-computer{ background-position: -528px -924px;} 
.icon-computer_add{ background-position: -528px -990px;} 
.icon-computer_delete{ background-position: -528px -1056px;} 
.icon-computer_edit{ background-position: -528px -1122px;} 
.icon-computer_error{ background-position: -528px -1188px;} 
.icon-computer_go{ background-position: -528px -1254px;} 
.icon-computer_key{ background-position: -528px -1320px;} 
.icon-computer_link{ background-position: -528px -1386px;} 
.icon-connect{ background-position: -528px -1452px;} 
.icon-contrast{ background-position: -528px -1518px;} 
.icon-contrast_decrease{ background-position: -528px -1584px;} 
.icon-contrast_high{ background-position: -528px -1650px;} 
.icon-contrast_increase{ background-position: -528px -1716px;} 
.icon-contrast_low{ background-position: -528px -1782px;} 
.icon-control_eject{ background-position: -528px -1848px;} 
.icon-control_eject_blue{ background-position: -528px -1914px;} 
.icon-control_end{ background-position: -594px 0;} 
.icon-control_end_blue{ background-position: -594px -66px;} 
.icon-control_equalizer{ background-position: -594px -132px;} 
.icon-control_equalizer_blue{ background-position: -594px -198px;} 
.icon-control_fastforward{ background-position: -594px -264px;} 
.icon-control_fastforward_blue{ background-position: -594px -330px;} 
.icon-control_pause{ background-position: -594px -396px;} 
.icon-control_pause_blue{ background-position: -594px -462px;} 
.icon-control_play{ background-position: -594px -528px;} 
.icon-control_play_blue{ background-position: -594px -594px;} 
.icon-control_repeat{ background-position: -594px -660px;} 
.icon-control_repeat_blue{ background-position: -594px -726px;} 
.icon-control_rewind{ background-position: -594px -792px;} 
.icon-control_rewind_blue{ background-position: -594px -858px;} 
.icon-control_start{ background-position: -594px -924px;} 
.icon-control_start_blue{ background-position: -594px -990px;} 
.icon-control_stop{ background-position: -594px -1056px;} 
.icon-control_stop_blue{ background-position: -594px -1122px;} 
.icon-controller{ background-position: -594px -1188px;} 
.icon-controller_add{ background-position: -594px -1254px;} 
.icon-controller_delete{ background-position: -594px -1320px;} 
.icon-controller_error{ background-position: -594px -1386px;} 
.icon-creditcards{ background-position: -594px -1452px;} 
.icon-cross{ background-position: -594px -1518px;} 
.icon-css{ background-position: -594px -1584px;} 
.icon-css_add{ background-position: -594px -1650px;} 
.icon-css_delete{ background-position: -594px -1716px;} 
.icon-css_go{ background-position: -594px -1782px;} 
.icon-css_valid{ background-position: -594px -1848px;} 
.icon-cup{ background-position: -594px -1914px;} 
.icon-cup_add{ background-position: -660px 0;} 
.icon-cup_delete{ background-position: -660px -66px;} 
.icon-cup_edit{ background-position: -660px -132px;} 
.icon-cup_error{ background-position: -660px -198px;} 
.icon-cup_go{ background-position: -660px -264px;} 
.icon-cup_key{ background-position: -660px -330px;} 
.icon-cup_link{ background-position: -660px -396px;} 
.icon-cursor{ background-position: -660px -462px;} 
.icon-cut{ background-position: -660px -528px;} 
.icon-cut_red{ background-position: -660px -594px;} 
.icon-database{ background-position: -660px -660px;} 
.icon-database_add{ background-position: -660px -726px;} 
.icon-database_connect{ background-position: -660px -792px;} 
.icon-database_delete{ background-position: -660px -858px;} 
.icon-database_edit{ background-position: -660px -924px;} 
.icon-database_error{ background-position: -660px -990px;} 
.icon-database_gear{ background-position: -660px -1056px;} 
.icon-database_go{ background-position: -660px -1122px;} 
.icon-database_key{ background-position: -660px -1188px;} 
.icon-database_lightning{ background-position: -660px -1254px;} 
.icon-database_link{ background-position: -660px -1320px;} 
.icon-database_refresh{ background-position: -660px -1386px;} 
.icon-database_save{ background-position: -660px -1452px;} 
.icon-database_table{ background-position: -660px -1518px;} 
.icon-date{ background-position: -660px -1584px;} 
.icon-date_add{ background-position: -660px -1650px;} 
.icon-date_delete{ background-position: -660px -1716px;} 
.icon-date_edit{ background-position: -660px -1782px;} 
.icon-date_error{ background-position: -660px -1848px;} 
.icon-date_go{ background-position: -660px -1914px;} 
.icon-date_link{ background-position: -726px 0;} 
.icon-date_magnify{ background-position: -726px -66px;} 
.icon-date_next{ background-position: -726px -132px;} 
.icon-date_previous{ background-position: -726px -198px;} 
.icon-delete{ background-position: -726px -264px;} 
.icon-disconnect{ background-position: -726px -330px;} 
.icon-disk{ background-position: -726px -396px;} 
.icon-disk_multiple{ background-position: -726px -462px;} 
.icon-door{ background-position: -726px -528px;} 
.icon-door_in{ background-position: -726px -594px;} 
.icon-door_open{ background-position: -726px -660px;} 
.icon-door_out{ background-position: -726px -726px;} 
.icon-drink{ background-position: -726px -792px;} 
.icon-drink_empty{ background-position: -726px -858px;} 
.icon-drive{ background-position: -726px -924px;} 
.icon-drive_add{ background-position: -726px -990px;} 
.icon-drive_burn{ background-position: -726px -1056px;} 
.icon-drive_cd{ background-position: -726px -1122px;} 
.icon-drive_cd_empty{ background-position: -726px -1188px;} 
.icon-drive_delete{ background-position: -726px -1254px;} 
.icon-drive_disk{ background-position: -726px -1320px;} 
.icon-drive_edit{ background-position: -726px -1386px;} 
.icon-drive_error{ background-position: -726px -1452px;} 
.icon-drive_go{ background-position: -726px -1518px;} 
.icon-drive_key{ background-position: -726px -1584px;} 
.icon-drive_link{ background-position: -726px -1650px;} 
.icon-drive_magnify{ background-position: -726px -1716px;} 
.icon-drive_network{ background-position: -726px -1782px;} 
.icon-drive_rename{ background-position: -726px -1848px;} 
.icon-drive_user{ background-position: -726px -1914px;} 
.icon-drive_web{ background-position: -792px 0;} 
.icon-dvd{ background-position: -792px -66px;} 
.icon-dvd_add{ background-position: -792px -132px;} 
.icon-dvd_delete{ background-position: -792px -198px;} 
.icon-dvd_edit{ background-position: -792px -264px;} 
.icon-dvd_error{ background-position: -792px -330px;} 
.icon-dvd_go{ background-position: -792px -396px;} 
.icon-dvd_key{ background-position: -792px -462px;} 
.icon-dvd_link{ background-position: -792px -528px;} 
.icon-email{ background-position: -792px -594px;} 
.icon-email_add{ background-position: -792px -660px;} 
.icon-email_attach{ background-position: -792px -726px;} 
.icon-email_delete{ background-position: -792px -792px;} 
.icon-email_edit{ background-position: -792px -858px;} 
.icon-email_error{ background-position: -792px -924px;} 
.icon-email_go{ background-position: -792px -990px;} 
.icon-email_link{ background-position: -792px -1056px;} 
.icon-email_open{ background-position: -792px -1122px;} 
.icon-email_open_image{ background-position: -792px -1188px;} 
.icon-emoticon_evilgrin{ background-position: -792px -1254px;} 
.icon-emoticon_grin{ background-position: -792px -1320px;} 
.icon-emoticon_happy{ background-position: -792px -1386px;} 
.icon-emoticon_smile{ background-position: -792px -1452px;} 
.icon-emoticon_surprised{ background-position: -792px -1518px;} 
.icon-emoticon_tongue{ background-position: -792px -1584px;} 
.icon-emoticon_unhappy{ background-position: -792px -1650px;} 
.icon-emoticon_waii{ background-position: -792px -1716px;} 
.icon-emoticon_wink{ background-position: -792px -1782px;} 
.icon-error{ background-position: -792px -1848px;} 
.icon-error_add{ background-position: -792px -1914px;} 
.icon-error_delete{ background-position: -858px 0;} 
.icon-error_go{ background-position: -858px -66px;} 
.icon-exclamation{ background-position: -858px -132px;} 
.icon-eye{ background-position: -858px -198px;} 
.icon-feed{ background-position: -858px -264px;} 
.icon-feed_add{ background-position: -858px -330px;} 
.icon-feed_delete{ background-position: -858px -396px;} 
.icon-feed_disk{ background-position: -858px -462px;} 
.icon-feed_edit{ background-position: -858px -528px;} 
.icon-feed_error{ background-position: -858px -594px;} 
.icon-feed_go{ background-position: -858px -660px;} 
.icon-feed_key{ background-position: -858px -726px;} 
.icon-feed_link{ background-position: -858px -792px;} 
.icon-feed_magnify{ background-position: -858px -858px;} 
.icon-female{ background-position: -858px -924px;} 
.icon-film{ background-position: -858px -990px;} 
.icon-film_add{ background-position: -858px -1056px;} 
.icon-film_delete{ background-position: -858px -1122px;} 
.icon-film_edit{ background-position: -858px -1188px;} 
.icon-film_error{ background-position: -858px -1254px;} 
.icon-film_go{ background-position: -858px -1320px;} 
.icon-film_key{ background-position: -858px -1386px;} 
.icon-film_link{ background-position: -858px -1452px;} 
.icon-film_save{ background-position: -858px -1518px;} 
.icon-find{ background-position: -858px -1584px;} 
.icon-flag_blue{ background-position: -858px -1650px;} 
.icon-flag_green{ background-position: -858px -1716px;} 
.icon-flag_orange{ background-position: -858px -1782px;} 
.icon-flag_pink{ background-position: -858px -1848px;} 
.icon-flag_purple{ background-position: -858px -1914px;} 
.icon-flag_red{ background-position: -924px 0;} 
.icon-flag_yellow{ background-position: -924px -66px;} 
.icon-folder{ background-position: -924px -132px;} 
.icon-folder_add{ background-position: -924px -198px;} 
.icon-folder_bell{ background-position: -924px -264px;} 
.icon-folder_brick{ background-position: -924px -330px;} 
.icon-folder_bug{ background-position: -924px -396px;} 
.icon-folder_camera{ background-position: -924px -462px;} 
.icon-folder_database{ background-position: -924px -528px;} 
.icon-folder_delete{ background-position: -924px -594px;} 
.icon-folder_edit{ background-position: -924px -660px;} 
.icon-folder_error{ background-position: -924px -726px;} 
.icon-folder_explore{ background-position: -924px -792px;} 
.icon-folder_feed{ background-position: -924px -858px;} 
.icon-folder_find{ background-position: -924px -924px;} 
.icon-folder_go{ background-position: -924px -990px;} 
.icon-folder_heart{ background-position: -924px -1056px;} 
.icon-folder_image{ background-position: -924px -1122px;} 
.icon-folder_key{ background-position: -924px -1188px;} 
.icon-folder_lightbulb{ background-position: -924px -1254px;} 
.icon-folder_link{ background-position: -924px -1320px;} 
.icon-folder_magnify{ background-position: -924px -1386px;} 
.icon-folder_page{ background-position: -924px -1452px;} 
.icon-folder_page_white{ background-position: -924px -1518px;} 
.icon-folder_palette{ background-position: -924px -1584px;} 
.icon-folder_picture{ background-position: -924px -1650px;} 
.icon-folder_star{ background-position: -924px -1716px;} 
.icon-folder_table{ background-position: -924px -1782px;} 
.icon-folder_user{ background-position: -924px -1848px;} 
.icon-folder_wrench{ background-position: -924px -1914px;} 
.icon-font{ background-position: -990px 0;} 
.icon-font_add{ background-position: -990px -66px;} 
.icon-font_delete{ background-position: -990px -132px;} 
.icon-font_go{ background-position: -990px -198px;} 
.icon-group{ background-position: -990px -264px;} 
.icon-group_add{ background-position: -990px -330px;} 
.icon-group_delete{ background-position: -990px -396px;} 
.icon-group_edit{ background-position: -990px -462px;} 
.icon-group_error{ background-position: -990px -528px;} 
.icon-group_gear{ background-position: -990px -594px;} 
.icon-group_go{ background-position: -990px -660px;} 
.icon-group_key{ background-position: -990px -726px;} 
.icon-group_link{ background-position: -990px -792px;} 
.icon-heart{ background-position: -990px -858px;} 
.icon-heart_add{ background-position: -990px -924px;} 
.icon-heart_delete{ background-position: -990px -990px;} 
.icon-help{ background-position: -990px -1056px;} 
.icon-hourglass{ background-position: -990px -1122px;} 
.icon-hourglass_add{ background-position: -990px -1188px;} 
.icon-hourglass_delete{ background-position: -990px -1254px;} 
.icon-hourglass_go{ background-position: -990px -1320px;} 
.icon-hourglass_link{ background-position: -990px -1386px;} 
.icon-house{ background-position: -990px -1452px;} 
.icon-house_go{ background-position: -990px -1518px;} 
.icon-house_link{ background-position: -990px -1584px;} 
.icon-html{ background-position: -990px -1650px;} 
.icon-html_add{ background-position: -990px -1716px;} 
.icon-html_delete{ background-position: -990px -1782px;} 
.icon-html_go{ background-position: -990px -1848px;} 
.icon-html_valid{ background-position: -990px -1914px;} 
.icon-image{ background-position: -1056px 0;} 
.icon-image_add{ background-position: -1056px -66px;} 
.icon-image_delete{ background-position: -1056px -132px;} 
.icon-image_edit{ background-position: -1056px -198px;} 
.icon-image_link{ background-position: -1056px -264px;} 
.icon-images{ background-position: -1056px -330px;} 
.icon-information{ background-position: -1056px -396px;} 
.icon-ipod{ background-position: -1056px -462px;} 
.icon-ipod_cast{ background-position: -1056px -528px;} 
.icon-ipod_cast_add{ background-position: -1056px -594px;} 
.icon-ipod_cast_delete{ background-position: -1056px -660px;} 
.icon-ipod_sound{ background-position: -1056px -726px;} 
.icon-joystick{ background-position: -1056px -792px;} 
.icon-joystick_add{ background-position: -1056px -858px;} 
.icon-joystick_delete{ background-position: -1056px -924px;} 
.icon-joystick_error{ background-position: -1056px -990px;} 
.icon-key{ background-position: -1056px -1056px;} 
.icon-key_add{ background-position: -1056px -1122px;} 
.icon-key_delete{ background-position: -1056px -1188px;} 
.icon-key_go{ background-position: -1056px -1254px;} 
.icon-keyboard{ background-position: -1056px -1320px;} 
.icon-keyboard_add{ background-position: -1056px -1386px;} 
.icon-keyboard_delete{ background-position: -1056px -1452px;} 
.icon-keyboard_magnify{ background-position: -1056px -1518px;} 
.icon-layers{ background-position: -1056px -1584px;} 
.icon-layout{ background-position: -1056px -1650px;} 
.icon-layout_add{ background-position: -1056px -1716px;} 
.icon-layout_content{ background-position: -1056px -1782px;} 
.icon-layout_delete{ background-position: -1056px -1848px;} 
.icon-layout_edit{ background-position: -1056px -1914px;} 
.icon-layout_error{ background-position: -1122px 0;} 
.icon-layout_header{ background-position: -1122px -66px;} 
.icon-layout_link{ background-position: -1122px -132px;} 
.icon-layout_sidebar{ background-position: -1122px -198px;} 
.icon-lightbulb{ background-position: -1122px -264px;} 
.icon-lightbulb_add{ background-position: -1122px -330px;} 
.icon-lightbulb_delete{ background-position: -1122px -396px;} 
.icon-lightbulb_off{ background-position: -1122px -462px;} 
.icon-lightning{ background-position: -1122px -528px;} 
.icon-lightning_add{ background-position: -1122px -594px;} 
.icon-lightning_delete{ background-position: -1122px -660px;} 
.icon-lightning_go{ background-position: -1122px -726px;} 
.icon-link{ background-position: -1122px -792px;} 
.icon-link_add{ background-position: -1122px -858px;} 
.icon-link_break{ background-position: -1122px -924px;} 
.icon-link_delete{ background-position: -1122px -990px;} 
.icon-link_edit{ background-position: -1122px -1056px;} 
.icon-link_error{ background-position: -1122px -1122px;} 
.icon-link_go{ background-position: -1122px -1188px;} 
.icon-lock{ background-position: -1122px -1254px;} 
.icon-lock_add{ background-position: -1122px -1320px;} 
.icon-lock_break{ background-position: -1122px -1386px;} 
.icon-lock_delete{ background-position: -1122px -1452px;} 
.icon-lock_edit{ background-position: -1122px -1518px;} 
.icon-lock_go{ background-position: -1122px -1584px;} 
.icon-lock_open{ background-position: -1122px -1650px;} 
.icon-lorry{ background-position: -1122px -1716px;} 
.icon-lorry_add{ background-position: -1122px -1782px;} 
.icon-lorry_delete{ background-position: -1122px -1848px;} 
.icon-lorry_error{ background-position: -1122px -1914px;} 
.icon-lorry_flatbed{ background-position: -1188px 0;} 
.icon-lorry_go{ background-position: -1188px -66px;} 
.icon-lorry_link{ background-position: -1188px -132px;} 
.icon-magifier_zoom_out{ background-position: -1188px -198px;} 
.icon-magnifier{ background-position: -1188px -264px;} 
.icon-magnifier_zoom_in{ background-position: -1188px -330px;} 
.icon-male{ background-position: -1188px -396px;} 
.icon-map{ background-position: -1188px -462px;} 
.icon-map_add{ background-position: -1188px -528px;} 
.icon-map_delete{ background-position: -1188px -594px;} 
.icon-map_edit{ background-position: -1188px -660px;} 
.icon-map_go{ background-position: -1188px -726px;} 
.icon-map_magnify{ background-position: -1188px -792px;} 
.icon-medal_bronze_1{ background-position: -1188px -858px;} 
.icon-medal_bronze_2{ background-position: -1188px -924px;} 
.icon-medal_bronze_3{ background-position: -1188px -990px;} 
.icon-medal_bronze_add{ background-position: -1188px -1056px;} 
.icon-medal_bronze_delete{ background-position: -1188px -1122px;} 
.icon-medal_gold_1{ background-position: -1188px -1188px;} 
.icon-medal_gold_2{ background-position: -1188px -1254px;} 
.icon-medal_gold_3{ background-position: -1188px -1320px;} 
.icon-medal_gold_add{ background-position: -1188px -1386px;} 
.icon-medal_gold_delete{ background-position: -1188px -1452px;} 
.icon-medal_silver_1{ background-position: -1188px -1518px;} 
.icon-medal_silver_2{ background-position: -1188px -1584px;} 
.icon-medal_silver_3{ background-position: -1188px -1650px;} 
.icon-medal_silver_add{ background-position: -1188px -1716px;} 
.icon-medal_silver_delete{ background-position: -1188px -1782px;} 
.icon-money{ background-position: -1188px -1848px;} 
.icon-money_add{ background-position: -1188px -1914px;} 
.icon-money_delete{ background-position: -1254px 0;} 
.icon-money_dollar{ background-position: -1254px -66px;} 
.icon-money_euro{ background-position: -1254px -132px;} 
.icon-money_pound{ background-position: -1254px -198px;} 
.icon-money_yen{ background-position: -1254px -264px;} 
.icon-monitor{ background-position: -1254px -330px;} 
.icon-monitor_add{ background-position: -1254px -396px;} 
.icon-monitor_delete{ background-position: -1254px -462px;} 
.icon-monitor_edit{ background-position: -1254px -528px;} 
.icon-monitor_error{ background-position: -1254px -594px;} 
.icon-monitor_go{ background-position: -1254px -660px;} 
.icon-monitor_lightning{ background-position: -1254px -726px;} 
.icon-monitor_link{ background-position: -1254px -792px;} 
.icon-mouse{ background-position: -1254px -858px;} 
.icon-mouse_add{ background-position: -1254px -924px;} 
.icon-mouse_delete{ background-position: -1254px -990px;} 
.icon-mouse_error{ background-position: -1254px -1056px;} 
.icon-music{ background-position: -1254px -1122px;} 
.icon-new{ background-position: -1254px -1188px;} 
.icon-newspaper{ background-position: -1254px -1254px;} 
.icon-newspaper_add{ background-position: -1254px -1320px;} 
.icon-newspaper_delete{ background-position: -1254px -1386px;} 
.icon-newspaper_go{ background-position: -1254px -1452px;} 
.icon-newspaper_link{ background-position: -1254px -1518px;} 
.icon-note{ background-position: -1254px -1584px;} 
.icon-note_add{ background-position: -1254px -1650px;} 
.icon-note_delete{ background-position: -1254px -1716px;} 
.icon-note_edit{ background-position: -1254px -1782px;} 
.icon-note_error{ background-position: -1254px -1848px;} 
.icon-note_go{ background-position: -1254px -1914px;} 
.icon-overlays{ background-position: -1320px 0;} 
.icon-package{ background-position: -1320px -66px;} 
.icon-package_add{ background-position: -1320px -132px;} 
.icon-package_delete{ background-position: -1320px -198px;} 
.icon-package_go{ background-position: -1320px -264px;} 
.icon-package_green{ background-position: -1320px -330px;} 
.icon-package_link{ background-position: -1320px -396px;} 
.icon-page{ background-position: -1320px -462px;} 
.icon-page_add{ background-position: -1320px -528px;} 
.icon-page_attach{ background-position: -1320px -594px;} 
.icon-page_code{ background-position: -1320px -660px;} 
.icon-page_copy{ background-position: -1320px -726px;} 
.icon-page_delete{ background-position: -1320px -792px;} 
.icon-page_edit{ background-position: -1320px -858px;} 
.icon-page_error{ background-position: -1320px -924px;} 
.icon-page_excel{ background-position: -1320px -990px;} 
.icon-page_find{ background-position: -1320px -1056px;} 
.icon-page_gear{ background-position: -1320px -1122px;} 
.icon-page_go{ background-position: -1320px -1188px;} 
.icon-page_green{ background-position: -1320px -1254px;} 
.icon-page_key{ background-position: -1320px -1320px;} 
.icon-page_lightning{ background-position: -1320px -1386px;} 
.icon-page_link{ background-position: -1320px -1452px;} 
.icon-page_paintbrush{ background-position: -1320px -1518px;} 
.icon-page_paste{ background-position: -1320px -1584px;} 
.icon-page_red{ background-position: -1320px -1650px;} 
.icon-page_refresh{ background-position: -1320px -1716px;} 
.icon-page_save{ background-position: -1320px -1782px;} 
.icon-page_white{ background-position: -1320px -1848px;} 
.icon-page_white_acrobat{ background-position: -1320px -1914px;} 
.icon-page_white_actionscript{ background-position: -1386px 0;} 
.icon-page_white_add{ background-position: -1386px -66px;} 
.icon-page_white_c{ background-position: -1386px -132px;} 
.icon-page_white_camera{ background-position: -1386px -198px;} 
.icon-page_white_cd{ background-position: -1386px -264px;} 
.icon-page_white_code{ background-position: -1386px -330px;} 
.icon-page_white_code_red{ background-position: -1386px -396px;} 
.icon-page_white_coldfusion{ background-position: -1386px -462px;} 
.icon-page_white_compressed{ background-position: -1386px -528px;} 
.icon-page_white_copy{ background-position: -1386px -594px;} 
.icon-page_white_cplusplus{ background-position: -1386px -660px;} 
.icon-page_white_csharp{ background-position: -1386px -726px;} 
.icon-page_white_cup{ background-position: -1386px -792px;} 
.icon-page_white_database{ background-position: -1386px -858px;} 
.icon-page_white_delete{ background-position: -1386px -924px;} 
.icon-page_white_dvd{ background-position: -1386px -990px;} 
.icon-page_white_edit{ background-position: -1386px -1056px;} 
.icon-page_white_error{ background-position: -1386px -1122px;} 
.icon-page_white_excel{ background-position: -1386px -1188px;} 
.icon-page_white_find{ background-position: -1386px -1254px;} 
.icon-page_white_flash{ background-position: -1386px -1320px;} 
.icon-page_white_freehand{ background-position: -1386px -1386px;} 
.icon-page_white_gear{ background-position: -1386px -1452px;} 
.icon-page_white_get{ background-position: -1386px -1518px;} 
.icon-page_white_go{ background-position: -1386px -1584px;} 
.icon-page_white_h{ background-position: -1386px -1650px;} 
.icon-page_white_horizontal{ background-position: -1386px -1716px;} 
.icon-page_white_key{ background-position: -1386px -1782px;} 
.icon-page_white_lightning{ background-position: -1386px -1848px;} 
.icon-page_white_link{ background-position: -1386px -1914px;} 
.icon-page_white_magnify{ background-position: -1452px 0;} 
.icon-page_white_medal{ background-position: -1452px -66px;} 
.icon-page_white_office{ background-position: -1452px -132px;} 
.icon-page_white_paint{ background-position: -1452px -198px;} 
.icon-page_white_paintbrush{ background-position: -1452px -264px;} 
.icon-page_white_paste{ background-position: -1452px -330px;} 
.icon-page_white_php{ background-position: -1452px -396px;} 
.icon-page_white_picture{ background-position: -1452px -462px;} 
.icon-page_white_powerpoint{ background-position: -1452px -528px;} 
.icon-page_white_put{ background-position: -1452px -594px;} 
.icon-page_white_ruby{ background-position: -1452px -660px;} 
.icon-page_white_stack{ background-position: -1452px -726px;} 
.icon-page_white_star{ background-position: -1452px -792px;} 
.icon-page_white_swoosh{ background-position: -1452px -858px;} 
.icon-page_white_text{ background-position: -1452px -924px;} 
.icon-page_white_text_width{ background-position: -1452px -990px;} 
.icon-page_white_tux{ background-position: -1452px -1056px;} 
.icon-page_white_vector{ background-position: -1452px -1122px;} 
.icon-page_white_visualstudio{ background-position: -1452px -1188px;} 
.icon-page_white_width{ background-position: -1452px -1254px;} 
.icon-page_white_word{ background-position: -1452px -1320px;} 
.icon-page_white_world{ background-position: -1452px -1386px;} 
.icon-page_white_wrench{ background-position: -1452px -1452px;} 
.icon-page_white_zip{ background-position: -1452px -1518px;} 
.icon-page_word{ background-position: -1452px -1584px;} 
.icon-page_world{ background-position: -1452px -1650px;} 
.icon-paintbrush{ background-position: -1452px -1716px;} 
.icon-paintcan{ background-position: -1452px -1782px;} 
.icon-palette{ background-position: -1452px -1848px;} 
.icon-paste_plain{ background-position: -1452px -1914px;} 
.icon-paste_word{ background-position: -1518px 0;} 
.icon-pencil{ background-position: -1518px -66px;} 
.icon-pencil_add{ background-position: -1518px -132px;} 
.icon-pencil_delete{ background-position: -1518px -198px;} 
.icon-pencil_go{ background-position: -1518px -264px;} 
.icon-phone{ background-position: -1518px -330px;} 
.icon-phone_add{ background-position: -1518px -396px;} 
.icon-phone_delete{ background-position: -1518px -462px;} 
.icon-phone_sound{ background-position: -1518px -528px;} 
.icon-photo{ background-position: -1518px -594px;} 
.icon-photo_add{ background-position: -1518px -660px;} 
.icon-photo_delete{ background-position: -1518px -726px;} 
.icon-photo_link{ background-position: -1518px -792px;} 
.icon-photos{ background-position: -1518px -858px;} 
.icon-picture{ background-position: -1518px -924px;} 
.icon-picture_add{ background-position: -1518px -990px;} 
.icon-picture_delete{ background-position: -1518px -1056px;} 
.icon-picture_edit{ background-position: -1518px -1122px;} 
.icon-picture_empty{ background-position: -1518px -1188px;} 
.icon-picture_error{ background-position: -1518px -1254px;} 
.icon-picture_go{ background-position: -1518px -1320px;} 
.icon-picture_key{ background-position: -1518px -1386px;} 
.icon-picture_link{ background-position: -1518px -1452px;} 
.icon-picture_save{ background-position: -1518px -1518px;} 
.icon-pictures{ background-position: -1518px -1584px;} 
.icon-pilcrow{ background-position: -1518px -1650px;} 
.icon-pill{ background-position: -1518px -1716px;} 
.icon-pill_add{ background-position: -1518px -1782px;} 
.icon-pill_delete{ background-position: -1518px -1848px;} 
.icon-pill_go{ background-position: -1518px -1914px;} 
.icon-plugin{ background-position: -1584px 0;} 
.icon-plugin_add{ background-position: -1584px -66px;} 
.icon-plugin_delete{ background-position: -1584px -132px;} 
.icon-plugin_disabled{ background-position: -1584px -198px;} 
.icon-plugin_edit{ background-position: -1584px -264px;} 
.icon-plugin_error{ background-position: -1584px -330px;} 
.icon-plugin_go{ background-position: -1584px -396px;} 
.icon-plugin_link{ background-position: -1584px -462px;} 
.icon-printer{ background-position: -1584px -528px;} 
.icon-printer_add{ background-position: -1584px -594px;} 
.icon-printer_delete{ background-position: -1584px -660px;} 
.icon-printer_empty{ background-position: -1584px -726px;} 
.icon-printer_error{ background-position: -1584px -792px;} 
.icon-rainbow{ background-position: -1584px -858px;} 
.icon-report{ background-position: -1584px -924px;} 
.icon-report_add{ background-position: -1584px -990px;} 
.icon-report_delete{ background-position: -1584px -1056px;} 
.icon-report_disk{ background-position: -1584px -1122px;} 
.icon-report_edit{ background-position: -1584px -1188px;} 
.icon-report_go{ background-position: -1584px -1254px;} 
.icon-report_key{ background-position: -1584px -1320px;} 
.icon-report_link{ background-position: -1584px -1386px;} 
.icon-report_magnify{ background-position: -1584px -1452px;} 
.icon-report_picture{ background-position: -1584px -1518px;} 
.icon-report_user{ background-position: -1584px -1584px;} 
.icon-report_word{ background-position: -1584px -1650px;} 
.icon-resultset_first{ background-position: -1584px -1716px;} 
.icon-resultset_last{ background-position: -1584px -1782px;} 
.icon-resultset_next{ background-position: -1584px -1848px;} 
.icon-resultset_previous{ background-position: -1584px -1914px;} 
.icon-rosette{ background-position: -1650px 0;} 
.icon-rss{ background-position: -1650px -66px;} 
.icon-rss_add{ background-position: -1650px -132px;} 
.icon-rss_delete{ background-position: -1650px -198px;} 
.icon-rss_go{ background-position: -1650px -264px;} 
.icon-rss_valid{ background-position: -1650px -330px;} 
.icon-ruby{ background-position: -1650px -396px;} 
.icon-ruby_add{ background-position: -1650px -462px;} 
.icon-ruby_delete{ background-position: -1650px -528px;} 
.icon-ruby_gear{ background-position: -1650px -594px;} 
.icon-ruby_get{ background-position: -1650px -660px;} 
.icon-ruby_go{ background-position: -1650px -726px;} 
.icon-ruby_key{ background-position: -1650px -792px;} 
.icon-ruby_link{ background-position: -1650px -858px;} 
.icon-ruby_put{ background-position: -1650px -924px;} 
.icon-script{ background-position: -1650px -990px;} 
.icon-script_add{ background-position: -1650px -1056px;} 
.icon-script_code{ background-position: -1650px -1122px;} 
.icon-script_code_red{ background-position: -1650px -1188px;} 
.icon-script_delete{ background-position: -1650px -1254px;} 
.icon-script_edit{ background-position: -1650px -1320px;} 
.icon-script_error{ background-position: -1650px -1386px;} 
.icon-script_gear{ background-position: -1650px -1452px;} 
.icon-script_go{ background-position: -1650px -1518px;} 
.icon-script_key{ background-position: -1650px -1584px;} 
.icon-script_lightning{ background-position: -1650px -1650px;} 
.icon-script_link{ background-position: -1650px -1716px;} 
.icon-script_palette{ background-position: -1650px -1782px;} 
.icon-script_save{ background-position: -1650px -1848px;} 
.icon-server{ background-position: -1650px -1914px;} 
.icon-server_add{ background-position: -1716px 0;} 
.icon-server_chart{ background-position: -1716px -66px;} 
.icon-server_compressed{ background-position: -1716px -132px;} 
.icon-server_connect{ background-position: -1716px -198px;} 
.icon-server_database{ background-position: -1716px -264px;} 
.icon-server_delete{ background-position: -1716px -330px;} 
.icon-server_edit{ background-position: -1716px -396px;} 
.icon-server_error{ background-position: -1716px -462px;} 
.icon-server_go{ background-position: -1716px -528px;} 
.icon-server_key{ background-position: -1716px -594px;} 
.icon-server_lightning{ background-position: -1716px -660px;} 
.icon-server_link{ background-position: -1716px -726px;} 
.icon-server_uncompressed{ background-position: -1716px -792px;} 
.icon-shading{ background-position: -1716px -858px;} 
.icon-shape_align_bottom{ background-position: -1716px -924px;} 
.icon-shape_align_center{ background-position: -1716px -990px;} 
.icon-shape_align_left{ background-position: -1716px -1056px;} 
.icon-shape_align_middle{ background-position: -1716px -1122px;} 
.icon-shape_align_right{ background-position: -1716px -1188px;} 
.icon-shape_align_top{ background-position: -1716px -1254px;} 
.icon-shape_flip_horizontal{ background-position: -1716px -1320px;} 
.icon-shape_flip_vertical{ background-position: -1716px -1386px;} 
.icon-shape_group{ background-position: -1716px -1452px;} 
.icon-shape_handles{ background-position: -1716px -1518px;} 
.icon-shape_move_back{ background-position: -1716px -1584px;} 
.icon-shape_move_backwards{ background-position: -1716px -1650px;} 
.icon-shape_move_forwards{ background-position: -1716px -1716px;} 
.icon-shape_move_front{ background-position: -1716px -1782px;} 
.icon-shape_rotate_anticlockwise{ background-position: -1716px -1848px;} 
.icon-shape_rotate_clockwise{ background-position: -1716px -1914px;} 
.icon-shape_square{ background-position: -1782px 0;} 
.icon-shape_square_add{ background-position: -1782px -66px;} 
.icon-shape_square_delete{ background-position: -1782px -132px;} 
.icon-shape_square_edit{ background-position: -1782px -198px;} 
.icon-shape_square_error{ background-position: -1782px -264px;} 
.icon-shape_square_go{ background-position: -1782px -330px;} 
.icon-shape_square_key{ background-position: -1782px -396px;} 
.icon-shape_square_link{ background-position: -1782px -462px;} 
.icon-shape_ungroup{ background-position: -1782px -528px;} 
.icon-shield{ background-position: -1782px -594px;} 
.icon-shield_add{ background-position: -1782px -660px;} 
.icon-shield_delete{ background-position: -1782px -726px;} 
.icon-shield_go{ background-position: -1782px -792px;} 
.icon-sitemap{ background-position: -1782px -858px;} 
.icon-sitemap_color{ background-position: -1782px -924px;} 
.icon-sound{ background-position: -1782px -990px;} 
.icon-sound_add{ background-position: -1782px -1056px;} 
.icon-sound_delete{ background-position: -1782px -1122px;} 
.icon-sound_low{ background-position: -1782px -1188px;} 
.icon-sound_mute{ background-position: -1782px -1254px;} 
.icon-sound_none{ background-position: -1782px -1320px;} 
.icon-spellcheck{ background-position: -1782px -1386px;} 
.icon-sport_8ball{ background-position: -1782px -1452px;} 
.icon-sport_basketball{ background-position: -1782px -1518px;} 
.icon-sport_football{ background-position: -1782px -1584px;} 
.icon-sport_golf{ background-position: -1782px -1650px;} 
.icon-sport_raquet{ background-position: -1782px -1716px;} 
.icon-sport_shuttlecock{ background-position: -1782px -1782px;} 
.icon-sport_soccer{ background-position: -1782px -1848px;} 
.icon-sport_tennis{ background-position: -1782px -1914px;} 
.icon-star{ background-position: -1848px 0;} 
.icon-status_away{ background-position: -1848px -66px;} 
.icon-status_busy{ background-position: -1848px -132px;} 
.icon-status_offline{ background-position: -1848px -198px;} 
.icon-status_online{ background-position: -1848px -264px;} 
.icon-stop{ background-position: -1848px -330px;} 
.icon-style{ background-position: -1848px -396px;} 
.icon-style_add{ background-position: -1848px -462px;} 
.icon-style_delete{ background-position: -1848px -528px;} 
.icon-style_edit{ background-position: -1848px -594px;} 
.icon-style_go{ background-position: -1848px -660px;} 
.icon-sum{ background-position: -1848px -726px;} 
.icon-tab{ background-position: -1848px -792px;} 
.icon-tab_add{ background-position: -1848px -858px;} 
.icon-tab_delete{ background-position: -1848px -924px;} 
.icon-tab_edit{ background-position: -1848px -990px;} 
.icon-tab_go{ background-position: -1848px -1056px;} 
.icon-table{ background-position: -1848px -1122px;} 
.icon-table_add{ background-position: -1848px -1188px;} 
.icon-table_delete{ background-position: -1848px -1254px;} 
.icon-table_edit{ background-position: -1848px -1320px;} 
.icon-table_error{ background-position: -1848px -1386px;} 
.icon-table_gear{ background-position: -1848px -1452px;} 
.icon-table_go{ background-position: -1848px -1518px;} 
.icon-table_key{ background-position: -1848px -1584px;} 
.icon-table_lightning{ background-position: -1848px -1650px;} 
.icon-table_link{ background-position: -1848px -1716px;} 
.icon-table_multiple{ background-position: -1848px -1782px;} 
.icon-table_refresh{ background-position: -1848px -1848px;} 
.icon-table_relationship{ background-position: -1848px -1914px;} 
.icon-table_row_delete{ background-position: -1914px 0;} 
.icon-table_row_insert{ background-position: -1914px -66px;} 
.icon-table_save{ background-position: -1914px -132px;} 
.icon-table_sort{ background-position: -1914px -198px;} 
.icon-tag{ background-position: -1914px -264px;} 
.icon-tag_blue{ background-position: -1914px -330px;} 
.icon-tag_blue_add{ background-position: -1914px -396px;} 
.icon-tag_blue_delete{ background-position: -1914px -462px;} 
.icon-tag_blue_edit{ background-position: -1914px -528px;} 
.icon-tag_green{ background-position: -1914px -594px;} 
.icon-tag_orange{ background-position: -1914px -660px;} 
.icon-tag_pink{ background-position: -1914px -726px;} 
.icon-tag_purple{ background-position: -1914px -792px;} 
.icon-tag_red{ background-position: -1914px -858px;} 
.icon-tag_yellow{ background-position: -1914px -924px;} 
.icon-telephone{ background-position: -1914px -990px;} 
.icon-telephone_add{ background-position: -1914px -1056px;} 
.icon-telephone_delete{ background-position: -1914px -1122px;} 
.icon-telephone_edit{ background-position: -1914px -1188px;} 
.icon-telephone_error{ background-position: -1914px -1254px;} 
.icon-telephone_go{ background-position: -1914px -1320px;} 
.icon-telephone_key{ background-position: -1914px -1386px;} 
.icon-telephone_link{ background-position: -1914px -1452px;} 
.icon-television{ background-position: -1914px -1518px;} 
.icon-television_add{ background-position: -1914px -1584px;} 
.icon-television_delete{ background-position: -1914px -1650px;} 
.icon-text_align_center{ background-position: -1914px -1716px;} 
.icon-text_align_justify{ background-position: -1914px -1782px;} 
.icon-text_align_left{ background-position: -1914px -1848px;} 
.icon-text_align_right{ background-position: -1914px -1914px;} 
.icon-text_allcaps{ background-position: -1980px 0;} 
.icon-text_bold{ background-position: -1980px -66px;} 
.icon-text_columns{ background-position: -1980px -132px;} 
.icon-text_dropcaps{ background-position: -1980px -198px;} 
.icon-text_heading_1{ background-position: -1980px -264px;} 
.icon-text_heading_2{ background-position: -1980px -330px;} 
.icon-text_heading_3{ background-position: -1980px -396px;} 
.icon-text_heading_4{ background-position: -1980px -462px;} 
.icon-text_heading_5{ background-position: -1980px -528px;} 
.icon-text_heading_6{ background-position: -1980px -594px;} 
.icon-text_horizontalrule{ background-position: -1980px -660px;} 
.icon-text_indent{ background-position: -1980px -726px;} 
.icon-text_indent_remove{ background-position: -1980px -792px;} 
.icon-text_italic{ background-position: -1980px -858px;} 
.icon-text_kerning{ background-position: -1980px -924px;} 
.icon-text_letter_omega{ background-position: -1980px -990px;} 
.icon-text_letterspacing{ background-position: -1980px -1056px;} 
.icon-text_linespacing{ background-position: -1980px -1122px;} 
.icon-text_list_bullets{ background-position: -1980px -1188px;} 
.icon-text_list_numbers{ background-position: -1980px -1254px;} 
.icon-text_lowercase{ background-position: -1980px -1320px;} 
.icon-text_padding_bottom{ background-position: -1980px -1386px;} 
.icon-text_padding_left{ background-position: -1980px -1452px;} 
.icon-text_padding_right{ background-position: -1980px -1518px;} 
.icon-text_padding_top{ background-position: -1980px -1584px;} 
.icon-text_replace{ background-position: -1980px -1650px;} 
.icon-text_signature{ background-position: -1980px -1716px;} 
.icon-text_smallcaps{ background-position: -1980px -1782px;} 
.icon-text_strikethrough{ background-position: -1980px -1848px;} 
.icon-text_subscript{ background-position: -1980px -1914px;} 
.icon-text_superscript{ background-position: -2046px 0;} 
.icon-text_underline{ background-position: -2046px -66px;} 
.icon-text_uppercase{ background-position: -2046px -132px;} 
.icon-textfield{ background-position: -2046px -198px;} 
.icon-textfield_add{ background-position: -2046px -264px;} 
.icon-textfield_delete{ background-position: -2046px -330px;} 
.icon-textfield_key{ background-position: -2046px -396px;} 
.icon-textfield_rename{ background-position: -2046px -462px;} 
.icon-thumb_down{ background-position: -2046px -528px;} 
.icon-thumb_up{ background-position: -2046px -594px;} 
.icon-tick{ background-position: -2046px -660px;} 
.icon-time{ background-position: -2046px -726px;} 
.icon-time_add{ background-position: -2046px -792px;} 
.icon-time_delete{ background-position: -2046px -858px;} 
.icon-time_go{ background-position: -2046px -924px;} 
.icon-timeline_marker{ background-position: -2046px -990px;} 
.icon-transmit{ background-position: -2046px -1056px;} 
.icon-transmit_add{ background-position: -2046px -1122px;} 
.icon-transmit_blue{ background-position: -2046px -1188px;} 
.icon-transmit_delete{ background-position: -2046px -1254px;} 
.icon-transmit_edit{ background-position: -2046px -1320px;} 
.icon-transmit_error{ background-position: -2046px -1386px;} 
.icon-transmit_go{ background-position: -2046px -1452px;} 
.icon-tux{ background-position: -2046px -1518px;} 
.icon-user{ background-position: -2046px -1584px;} 
.icon-user_add{ background-position: -2046px -1650px;} 
.icon-user_comment{ background-position: -2046px -1716px;} 
.icon-user_delete{ background-position: -2046px -1782px;} 
.icon-user_edit{ background-position: -2046px -1848px;} 
.icon-user_female{ background-position: -2046px -1914px;} 
.icon-user_go{ background-position: -2112px 0;} 
.icon-user_gray{ background-position: -2112px -66px;} 
.icon-user_green{ background-position: -2112px -132px;} 
.icon-user_orange{ background-position: -2112px -198px;} 
.icon-user_red{ background-position: -2112px -264px;} 
.icon-user_suit{ background-position: -2112px -330px;} 
.icon-vcard{ background-position: -2112px -396px;} 
.icon-vcard_add{ background-position: -2112px -462px;} 
.icon-vcard_delete{ background-position: -2112px -528px;} 
.icon-vcard_edit{ background-position: -2112px -594px;} 
.icon-vector{ background-position: -2112px -660px;} 
.icon-vector_add{ background-position: -2112px -726px;} 
.icon-vector_delete{ background-position: -2112px -792px;} 
.icon-wand{ background-position: -2112px -858px;} 
.icon-weather_clouds{ background-position: -2112px -924px;} 
.icon-weather_cloudy{ background-position: -2112px -990px;} 
.icon-weather_lightning{ background-position: -2112px -1056px;} 
.icon-weather_rain{ background-position: -2112px -1122px;} 
.icon-weather_snow{ background-position: -2112px -1188px;} 
.icon-weather_sun{ background-position: -2112px -1254px;} 
.icon-webcam{ background-position: -2112px -1320px;} 
.icon-webcam_add{ background-position: -2112px -1386px;} 
.icon-webcam_delete{ background-position: -2112px -1452px;} 
.icon-webcam_error{ background-position: -2112px -1518px;} 
.icon-world{ background-position: -2112px -1584px;} 
.icon-world_add{ background-position: -2112px -1650px;} 
.icon-world_delete{ background-position: -2112px -1716px;} 
.icon-world_edit{ background-position: -2112px -1782px;} 
.icon-world_go{ background-position: -2112px -1848px;} 
.icon-world_link{ background-position: -2112px -1914px;} 
.icon-wrench{ background-position: -2178px 0;} 
.icon-wrench_orange{ background-position: -2178px -66px;} 
.icon-xhtml{ background-position: -2178px -132px;} 
.icon-xhtml_add{ background-position: -2178px -198px;} 
.icon-xhtml_delete{ background-position: -2178px -264px;} 
.icon-xhtml_go{ background-position: -2178px -330px;} 
.icon-xhtml_valid{ background-position: -2178px -396px;} 
.icon-zoom{ background-position: -2178px -462px;} 
.icon-zoom_in{ background-position: -2178px -528px;} 
.icon-zoom_out{ background-position: -2178px -594px;} 
